# **Collecting Job Data Using APIs**

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [79]:
#Import required libraries
import pandas as pd
import json
import requests

In [87]:
import requests

def get_number_of_jobs_T(technology):
    api_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
    payload = {"Key Skills": technology}

    try:
        response = requests.get(api_url, params=payload)
        response.raise_for_status()
        data = response.json()

        # Filter jobs manually by checking if 'technology' is in the 'Key Skills' field
        matching_jobs = [job for job in data if technology.lower() in job.get("Key Skills", "").lower()]
        number_of_jobs = len(matching_jobs)

    except requests.RequestException as e:
        print(f"Request failed: {e}")
        number_of_jobs = 0

    return technology, number_of_jobs

In [88]:
get_number_of_jobs_T("Python")

('Python', 1173)

#### Write a function to find number of jobs in US for a location of your choice

In [99]:
import requests

def get_number_of_jobs_L(location):
    api_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
    payload = {"Location": location}

    try:
        response = requests.get(api_url)  # params=payload is ignored here
        response.raise_for_status()
        data = response.json()

        # Filter jobs where 'location' is in 'Location' field (case-insensitive)
        matching_jobs = [job for job in data if location.lower() in job.get("Location", "").lower()]
        number_of_jobs = len(matching_jobs)

    except requests.RequestException as e:
        print(f"Request failed: {e}")
        number_of_jobs = 0

    return location, number_of_jobs

Call the function for Los Angeles and check if it is working.

In [100]:
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

Create a python list of all technologies for which you need to find the number of jobs postings.

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx

In [105]:
loc=['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

Import libraries required to create excel spreadsheet

In [106]:
!pip install openpyxl
from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active

Requirement already satisfied: openpyxl in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (3.1.3)
Requirement already satisfied: et-xmlfile in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from openpyxl) (1.1.0)

Create a workbook and select the active worksheet

In [107]:
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet

Find the number of jobs postings for each of the technology in the above list.
Write the technology name and the number of jobs postings into the excel spreadsheet.

In [108]:
ws.append(['Location','Number_of_Jobs'])

for i in loc:
    ws.append(get_number_of_jobs_L(i))

Save into an excel spreadsheet named **job-postings.xlsx**.

In [109]:
wb.save('job-postings.xlsx')
jobs_loca = pd.read_excel('job-postings.xlsx')
jobs_loca

        Location  Number_of_Jobs
0    Los Angeles             640
1       New York            3226
2  San Francisco             435
3  Washington DC            5316
4        Seattle            3375
5         Austin             434
6        Detroit            3945

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [129]:
languages = ['C', 'C#', 'C++','Java', 'JavaScript', 'Python', 'Scala', 'Oracle', 'SQL Server', 'MySQL Server', 'PostgreSQL', 'MongoDB']
languages

['C',
 'C#',
 'C++',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [130]:
wb = Workbook()
ws= wb.active
ws

In [131]:
ws.append(['technology', 'number_of_jobs'])

for i in languages:
    ws.append(get_number_of_jobs_T(i))

In [132]:
wb.save('job-language.xlsx')
jobs_lang = pd.read_excel('job-language.xlsx')
jobs_lang

      technology  number_of_jobs
0              C            5751
1             C#               0
2            C++               0
3           Java               0
4     JavaScript               0
5         Python               0
6          Scala               0
7         Oracle               0
8     SQL Server               0
9   MySQL Server               0
10    PostgreSQL               0
11       MongoDB               0